/* Form Inputs */
.form-group label {
   display: block;
   margin-bottom: var(--spacing-sm);
   font-size: 1.6rem;
   font-weight: 600;
   color: var(--text-color);
}
.form-group .input {
   width: 100%;
   border-radius: var(--radius-md);
   padding: 1.5rem;
   color: var(--text-color);
   background-color: var(--input-bg);
   border: 2px solid var(--border-color);
   transition: var(--transition);
}
