/* Responsive Breakpoints */
@media (max-width: 991px) {
   html { font-size: 58%; }
   .section-title { font-size: 4.5rem; }
}
@media (max-width: 768px) {
   html { font-size: 56%; }
   #menu-btn { display: block; }
   .header .flex .navbar {
      position: absolute;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }
   .header .flex .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }
}
@media (max-width: 450px) {
   html { font-size: 54%; }
   .section-title { font-size: 3.5rem; }
}
